.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15rem;
   
}
.pass{
    margin: 1.5rem;
   
}
.email{
    margin: 1.5rem;
}
button{
    margin: 1.5rem;
}
.recal-forget{
    margin: 1.5rem;
}